
{% extends "layout.njk" %}

{% block content %}

<div class="card table-cont">
    <table width=100%>
        <thead>
            <tr>
                <th>Membro</th>
                <th>Interesse</th>
                <th><a href="/membros/create/"><i class="add material-icons">person_add</i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for membro in membros %}
                <tr>
                    <td><span style="background-image: url({{ membro.avatar_url }})"></span>
                        {{ membro.name }}</td>
                    <td>{{ membro.area }}</td>
                    <td><a href="/membros/{{membro.id}}"><i class="material-icons">keyboard_arrow_right</i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock content %}