@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap" rel="stylesheet"');

:root{
    --cor: rgb(145, 55, 230)
}


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--cor);
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a {
    text-decoration: none;
    color: var(--cor);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}

.links a.active {
    font-weight: bold;
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--cor);
    position: absolute;
    left: 0px;
    bottom: -4px;
}
.links a:hover::after{
    width: 100%;
    transition: width 200ms ease-out;
}


/* ==== CARD ==== */
.card{
    background-color: white;
    width: 800px;
    height: 400px;
    margin: 45px auto;
    word-break:break-all;

/* ==== Colunas Card ==== */ 
display: grid;
    grid-template-columns: 1fr 1fr;

/* ==== Sombra ==== */
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.185);

/* ==== Animation ==== */
    animation-name: up;
    animation-duration: 700ms;

}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
    }
}

/* ==== Details ==== */

.details{
    padding: 10px;
}

.details h3{
    padding-bottom: 2px;
    border-bottom: 2px solid var(--cor);
}

.details .item{
    padding: 10px 0;
    border-bottom: 2px solid rgba(145, 55, 230, 0.336);
}
.details.index .item{
    padding-top: 15px;
    padding-bottom: 15px;
}


.details .item:last-child{
    border:none
}


.details h3, .details .item div:nth-child(1){
    font-weight: bold;
    line-height: 16px;
    color: rgba(145, 55, 230);

}

.details .item span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
    margin-top: 8px;
    background-color: rgb(238, 255, 2);
    border-radius: 30px;
    display: inline-block;
}

/* ==== Formulario ==== */

.item .check a:not(:first-child){
    padding-top: 8px;
    padding-left: 5px;
    display: inline-block;
}

input {
    outline: none;
    font-weight: bold;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}
input[type="date"]{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

button[type="submit"]{
    padding: 8px 32px;
    background-color: var(--cor);
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-top: 8px;
    border-radius: 30px;
    width: 100%;
}