{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/instrutores">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/3465564/400x400) no-repeat"></section>
    
    <section class="details">
    
        <h3> Detalhes </h3>

        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input type="url" name="avatar_url" placeholder="http://">
            </div>
        </div>
  
        <div class="item">
            <div>Nome Completo</div>
            <div>
                <input type="text" name="name" placeholder="Digite seu nome">
            </div>
        </div>
    
        <div class="item">
            <div>Data de Nascimento</div>
            <div>
                <input type="date" name="nascimento">
            </div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>
                <span><input type="radio" name="sexo" value="Masculino">  Masculino</span>
                <span><input type="radio" name="sexo" value="Feminino">  Feminino</span>
                <span><input type="radio" name="sexo" value="Indefinido" checked>  Indefinido</span>
            </div>
        </div>

        <div class="item",class="create">
            <div>Área de Atuação</div>
            <div class="check">
                <a><input type="checkbox" name="area[]" value="Crossfit">  Crossfit</a>
                <a><input type="checkbox" name="area[]" value="Musculação">  Musculação</a>
                <a><input type="checkbox" name="area[]" value="Aeróbica">  Aeróbica</a>
                <a><input type="checkbox" name="area[]" value="Dança">  Dança</a>
            </div>
        </div>

        <button type="submit">Salvar</button>

    
    </section>

</div>
    
{% endblock content %}