{% extends "layout.njk" %}

{% block content %}

<form class="card" method="POST" action="/instrutores">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/3465564/400x400) no-repeat"></section>
    
    <section class="details">
    
        <h3> CADASTRAR INSTRUTOR </h3>

        {% include "instrutores/fields.njk" %}

        <button type="submit">Salvar</button>
    
    </section>

</div>
    
{% endblock content %}