{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar"
        style="background-image: url({{ instrutor.avatar_url }})">
    </section>
    
    <section class="details index">
    
        <h3> DETALHES </h3>

        <div class="item">
            <div>Instrutor</div>
            <div>{{ instrutor.name }}</div>
        </div>
    
        <div class="item">
            <div>Idade</div>
            <div>{{ instrutor.birth }}</div>
        </div>
        
        <div class="item">
            <div>Sexo</div>
            <div>{{ instrutor.gender }}</div>
        </div>

        <div class="item">
            <div>Especialidades</div>
            {% for area in instrutor.services %}
                <span>{{ area }}</span>
            {% endfor %}
        </div>

         <div class="item">
            <div>Membro Desde</div>
            <div>{{ instrutor.desde }}</div>
        </div>

            <a class ="button" href=/instrutores/{{instrutor.id}}/edit/>EDITAR</a>

    </section>
</div>
</form>
    
{% endblock content %}