{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar"
        style="background-image: url({{ member.avatar_url }})">
    </section>
    
    <section class="details index">
    
        <h3> DETALHES </h3>

        <div class="item">
            <div>Membro</div>
            <div>{{ member.name }}</div>
        </div>
    
        <div class="item">
            <div>Aniversário</div>
            <div>{{ member.birth }}</div>
        </div>
        
        <div class="item">
            <div>Sexo</div>
            <div>{{ member.gender }}</div>
        </div>

        <div class="item">
            <div>Interesses</div>
            {% for area in member.services %}
                <span>{{ area }}</span>
            {% endfor %}
        </div>

         <div class="item">
            <div>Membro Desde</div>
            <div>{{ member.desde }}</div>
        </div>

            <a class ="button" href=/member/{{member.id}}/edit/>EDITAR</a>

    </section>
</div>
</form>
    
{% endblock content %}